# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
out/
.classpath
.project
.settings/
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# JVM
hs_err_pid*
replay_pid*
