spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hexagonal?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    driverClassName: com.mysql.cj.jdbc.Driver
    username: app
    password: apppass
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      platform: mysql
  h2:
    console:
      enabled: false
server:
  port: 8080
